<div class="main_container">
    <div class="delete_session">
        <p>Cerrar sesion</p>
    </div>
    <div class="welcome_container">
        <h2 class="welcome_title"></h2>
    </div>
    <div class="search_container">

    </div>
    <div class="main_products_container">
        <div class="products_container">
            
        </div>
    </div>
</div>