
<div class="main_container">
    <form class="form_container">
        <a href="" class="redirect_login">
            <i class="fa-solid fa-house"></i>
        </a>
        <div class="app_title_container">
            <h3>Registrarse</h3>
        </div>
        <div class="inputs_container">
            <div class="input_container">
                <input type="text" placeholder="Nombre" name="name" autocomplete="name" required="true" class="name_input">
            </div>
            <div class="input_container">
                <input type="text" placeholder="Apellido" name="lastName" autocomplete="family-name" required="true" class="last_name_input">
            </div>
            <div class="input_container">
                <input type="email" placeholder="Email" autocomplete="email" name="email" required="true" class="email_input">
            </div>
            <div class="input_container">
                <input type="password" placeholder="Contraseña" autocomplete="current-password" name="password" required="true" class="password_input">
            </div>
        </div>
        <p class="error_form"></p>
        <p class="exit_form"></p>
        <div class="send_form_container">
            <p>Registrarse</p>
        </div>

    </form>
</div>