*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--blanco);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}



:root{
    --blancoTransparent : rgba(255,255,255,0.85);
    --transparent : #ffffff10;
    --blanco : rgb(255 255 255);
    --grisOscuro : rgb(125, 122, 122);
    --verde : #36b67d;
    --negroClaro : rgb(43, 40, 40);
    --negro : rgb(21, 21, 21);
    --azul : rgb(41, 61, 243);
    --moradoOscuro : rgb(21, 21, 107);
    --fullNegro : rgb(0 0 0);
    --rojo : rgb(255, 13, 0);
}

.notification{
    background: var(--verde);
}

@keyframes showLabel{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-22px);
    }
}

@keyframes ocultLabel{
    to{
        opacity: 0;
    }
}

@keyframes showNav{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
}

@keyframes ocultNav{
    to{
        transform: translateX(-110%);
    }
}
